html , body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100%;
    position: relative;
}

body{
    
    background-image:url("../images/SL_060521_43530_17.jpg");
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}



/*---------------- navbar-------------------*/
.menu-navegacion {
    height: auto;
    z-index: 5;
   /* background-color: #ddccf74f;*/
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    
}

.menu-fixed {
    position: fixed;
    top: 0;
    background-color: #000000;
}

.menu-navegacion ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
}

.menu-navegacion li {
    flex: 1 0 auto;
    text-align: center;
    padding: 5px;
}


.menu-navegacion ul li a {
    text-decoration: none;
    color: hsl(0, 14%, 97%);
    padding: 5px 0;
    display: block;
}

.menu-navegacion ul a:hover {
    background: hsl(263, 74%, 77%);
    
}

/*---------------- navbar fin-------------------*/


/*---------------- contenido-home-------------------*/


.container-home {
    background-color: #f4f4f4;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("../images/5172658.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

#personal-img {
    height: 250px;
    border-radius: 50%;
    margin-right: 40px;
}

#personal-name {
    color: white;
    font-size: 40px;
}

.descripcion-home p {
    color: white;
    font-size: 15px;
}
/*---------------- contenido-home fin-------------------*/



/*---------------- contenido-segundo about me-------------------*/


.container-aboutme {
    background-color: #ddccf74f;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    flex-direction: column;
}

#about-me- {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
}

.container-aboutme p {
    text-align: justify;
    color: black;
    font-size: 15px;
    padding: 5px;
}


.skills h2 {
    color: white;
    font-size: 40px;
    text-align: center;
}
.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.skills-images {
    padding: 20px;
    margin: 0;
}

.skills-images img {
    width: 100px;
    padding: 0;
}

/*---------------- contenido-segundo about me fin-------------------*/


/*---------------- contenido-tercero proyecto-------------------*/


.container-proyectos {
    background-color: #ddccf74f;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding-top: 60px;
}

#proyecto-id {
    color: white;
    font-size: 40px;
    text-align: center;
}

.proyecto-contenido {
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.contenedor-de-proyecto-invidual {
    margin: 10px;
    padding: 2px;
    width: auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.proyecto-img {
    margin: 1em;
    max-height: 20em;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.proyecto-contenido-texto {
    padding: 1em 1em 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.proyecto-cabecera {
    border-bottom: 1px solid rgba(0, 78, 146, 0.2);
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.proyecto-name {
    margin: 3px;
    padding: 1px;
    margin-bottom: 1px;
    color: #004e92;

}

.proyecto-item-descripcion {
    font-size: 20px;
    text-align: center;
    max-width: 400px;
}

/*---------------- contenido-tercero proyecto fin-------------------*/



/*---------------- contenido-contacto -------------------*/


.container-contacto {
    background-color: #ddccf74f;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}




.contacto-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.contacto-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.contact-img img {
    width: 65px;
    
}


#contacto-title {
    color: white;
    font-size: 40px;
    text-align: center;
}

#contacto p {
    text-align: center;
}

/*--------------Contenido cuarto contacto fin------------------------*/





/*-----------footer---------------------*/

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}






  /*-------------------------------empieza responsive mobile---------------------------------------------------------*/


@media all and (min-width:600px) and (max-width:1023px) {





/*---------------- contenido-tercero proyecto-------------------*/

.proyecto-contenido {
    flex-direction: column;
    align-items: center;
}


/*---------------- contenido-tercero proyecto fin-------------------*/




}





 /*-------------------------------empeiza responsive mobile---------------------------------------------------------*/
 @media all and (max-width: 599px) {


    /*---------------- navbar-------------------*/
.menu-navegacion {
  
    margin: 0;
    width: 100%;
    position: relative;
    background-color: #ddccf7;
   
    
}


.menu-navegacion ul {
    list-style-type: none;
    display: block;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
    float: none;
}


.menu-navegacion ul li a {
    text-decoration: none;
    color: hsl(0, 14%, 97%);
    padding: 5px 0;
    display: block;

    background-color: #ddccf7;
    border: 1px solid;
    border-radius: 20px;


}




/*---------------- navbar fin-------------------*/


/*---------------- contenido-home-------------------*/


.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#personal-img {
    
    margin-right: 0;
}

#personal-name {
    text-align: center;
}

.descripcion-home p {
    text-align: center;
}
/*---------------- contenido-home fin-------------------*/
















/*---------------- contenido-tercero proyecto-------------------*/

.proyecto-contenido {
    flex-direction: column;
    align-items: center;
}


/*---------------- contenido-tercero proyecto fin-------------------*/




}


 